*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.caixa{
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    
}

.verde{
    border-color: darkgreen !important;
    background-color: aliceblue !important;
}

.azul{
    border-color: darkblue !important;
    background-color: aliceblue !important;
}

.vermelho{
    border-color: darkred !important;
    background-color: aliceblue !important;
}
   
button{
    width: 150px;
    height: 40px;
    background-color: rgb(4, 4, 99);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}

